* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* App container  */
.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 1fr;
  padding: 25px;
  grid-column-gap: 40px;
}

/* sidebar container  */
.sidebar {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow-y: scroll;
}

/* header container */
.header {
  text-align: center;
  margin: 40px 40px 40px 40px;
}

.header img {
  width: 51%;
}

/* form container  */
form {
  padding: 40px 40px 40px 40px;
}

.hidden {
  display: none;
}

form .btn {
  display: none;
}

/* Map API */
#map {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

/* Generated cards */

.walks {
  display: grid;
  grid-row-gap: 20px;
  justify-content: center;
}

ul .walk {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 0 20px 20px 20px;
}

.walk__title {
  font-size: 32px;
}

.walk__details {
  display: inline;
  margin-right: 10px;
}
