:root {
  --color-primary: #ee6d72;
  --color-secondary: #4cb6ac;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9fa;
}

/* App container  */
.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 1fr;
  padding: 25px;
  /* grid-column-gap: 40px; */
}

/* sidebar container  */
.sidebar {
  background-color: #ffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow-y: hidden;
}

/* header container */
.header {
  text-align: center;
  margin: 40px 40px 40px 40px;
}

.header img {
  /* width: 51%; */
  width: 31%;
}

/* form container  */
form {
  /* padding: 40px 50px 40px 50px; */
  padding: 40px 4px 40px 4px;

  transition: all 0.5s, transform 1ms;
  width: 100%;
  /* padding: 0.3rem 1.1rem; */
}

.hidden {
  display: none;
}

.form__row--hidden {
  display: none;
}

form .btn {
  display: none;
}

/* Map API */

#map {
  box-shadow: 13px 1px 15px 4px rgb(0 0 0 / 20%);
  border-radius: 3px;
}

/* Generated cards */

.walks {
  overflow-y: scroll;
  max-height: 55%;
  display: grid;
  grid-row-gap: 20px;
  list-style: none;
  justify-content: center;
  grid-template-columns: 71%;
}

.walks::-webkit-scrollbar {
  display: none;
}

ul .walk {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 0 20px 20px 20px;
  /* margin: 0px 45px; */
  color: #ffff;
  border-radius: 3px;
}

ul .walk--romantic {
  background-color: var(--color-secondary);
}

ul .walk--casual {
  background-color: var(--color-primary);
}

.walk__title {
  font-size: 1.5rem;
  margin: 1.373333rem 0 1.424rem 0;
}

.walk__details {
  display: inline;
  margin-right: 10px;
}

input {
  transition: all 0.2s;
}

/* Maker settings */

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #ffff;
  color: black;
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1rem;
  font-weight: lighter;
}

.casual-popup .leaflet-popup-tip {
  background-color: var(--color-primary);
}

.romantic-popup .leaflet-popup-tip {
  background-color: var(--color-secondary);
}

.casual-popup .leaflet-popup-content-wrapper {
  border-left: 10px solid var(--color-primary);
}
.romantic-popup .leaflet-popup-content-wrapper {
  border-left: 10px solid var(--color-secondary);
}

.copyright {
  margin-top: auto;
  font-size: 1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  margin: 60px 40px 20px 40px;
}

/* media query*/

/* iphone 5 */
@media (width: 320px) {
}

/* iphone 8 */
@media (width: 375px) {
}

/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .header {
    margin: 40px 40px 20px 40px;
  }

  .header img {
    width: 31%;
  }

  .app {
    grid-template-columns: none;
    grid-template-rows: 60%;
  }

  form .btn {
    display: block;
  }

  .walk__title {
    font-size: 20px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
